.landing-content-empty-wrapper {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  background-color: #ffd8a8;
  border-radius: 12px;
  padding: 1rem 0;
}

.landing-content-empty-wrapper_image {
  width: 400px;
  margin: auto;
}
