.landing-content-empty-wrapper {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  background-color: #ffd8a8;
  border-radius: 12px;
  padding: 1rem 0;
}

.landing-content-empty-wrapper_image {
  width: 400px;
  margin: auto;
}
@media (max-width: 992px) {
  .landing-content-empty-wrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .landing-content-empty-wrapper {
    width: 100%;
  }

  .landing-content-empty-wrapper_image {
    width: 250px;
    height: max-content;
  }
}
