.header-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f3f5;
}

.logo {
  font-family: cursive;
  font-size: 30px;
  margin: 0;
}
.navlink-item {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.active {
  background-color: #e9ecef;
  color: #495057;
}

.navlink-item:hover {
  background-color: #e9ecef;
}
.sub-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .header-container {
    width: 300px;
  }
}
