.header-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(113, 191, 255, 0.678);

  border-right: 5px solid rgba(128, 128, 128, 0.5);
}
.logo {
  font-family: cursive;
  font-size: 30px;
  margin: 0;
}
.navlink-item {
  width: 90%;
  height: 50px;
  padding: 10px 15px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.active {
  background-color: rgba(90, 69, 211, 0.7);
  border-radius: 20px;
  color: aliceblue;
}

.navlink-item:hover {
  background-color: rgba(55, 36, 165, 0.1);
  border-radius: 20px;
}
.sub-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
