.sign-in-page {
  width: 30vw;
  height: max-content;
  text-align: center;
  margin: 100px auto;
  background-color: #eebefa;
  border-radius: 12px;
  padding: 3rem 0;

  &_image-container {
    width: 300px;
    margin: auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 992px) {
  .sign-in-page {
    width: max-content;
    padding: 3rem 1rem;
  }
}
