.sign-in-page {
  width: 30vw;
  height: 58vh;
  text-align: center;
  margin: 100px auto;
  background-color: #eebefa;
  border-radius: 12px;
  padding-top: 3rem;
}

.sign-in-page_image-container {
  width: 300px;
  margin: auto;
  margin-bottom: 1rem;
}
