* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.dashboard-wrapper {
  display: flex;
  width: 100vw;
}

@media (max-width: 992px) {
  .dashboard-wrapper {
    flex-direction: column;
  }
}
